<!-- login.component.html -->

<div class="login-container">
    <h2 class="login-title">Login</h2>
    <form class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <mat-form-field class="login-input">
        <input matInput [(ngModel)]="username" name="username" placeholder="Username" required>
      </mat-form-field>
      <mat-form-field class="login-input">
        <input matInput [(ngModel)]="password" name="password" type="password" placeholder="Password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </div>
  